BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""
POSTGRES_PORT="5432"

DATABASE_URL=""

EMAIL_FROM=""

GMAIL_USER=""
GMAIL_APP_PASSWORD=""